<title> Дежурство </title>

<form action="{% url 'checklog' %}" method="post">
    <p>Логин: <input type="text" name="username" id="choice{{ forloop.counter }}" checked />
    <label for="choice{{ forloop.counter }}"></label><br /></p>
    <p>Пароль: <input type="password" name="password" id="choice{{ forloop.counter }}" checked />
    <label for="choice{{ forloop.counter }}"></label><br /></p>

<input type="submit" value="Войти" />
{% csrf_token %}

</form>
<p>Еще не зарегистрировались? <a href="/registration/">Регистрация</a></p>